[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/RISBandara
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/RISBandara
	label-Verified = -1..+1 group user/RISBandara
	push = group user/RISBandara
	read = group user/RISBandara
	rebase = group user/RISBandara
	removeReviewer = group user/RISBandara
	submit = group user/RISBandara
[access "refs/heads/*"]
	create = group user/RISBandara
	push = +force group user/RISBandara
	pushMerge = group user/RISBandara
	read = group user/RISBandara
[access "refs/tags/*"]
	push = group user/RISBandara
	push = +force group user/RISBandara
